{{#if error}}
    <div class='container-lg mt-4'>
    <div class="alert alert-danger">{{error}}</divclass>
    </div>
{{/if}}

{{#if infos}}
    <div class='container-lg mt-4'></div>
    <div class="alert alert-success">{{info}}</divclass>
    </div>
{{/if}}
