<div class="center">
    <h1>Signup</h1>
    <form method="POST" action="/signup">
    <div class="txt_field">
        <input type="text" name="username" required>
        <span></span>
        <label for="username">Username</label>
    </div>
    <div class="txt_field">
        <input type="password" name="password" required>
        <span></span>
        <label for="password"> Password</label>
    </div>
    <input type="submit" value="Signup">
    <div class="signup_link">
        Got an Account? <a href="/login">Login</a>
    </div>
    </form>
</div>