<div class="container">
    <h1>To-do List</h1>
    <form method="POST" action=/currentUser.name>
    <div class="add-element">
        <input type="text" name="task" id="add" placeholder="Type something to do">
        <button type="submit" id="btn" value="Add">Add</button>
    </div>
    </form>

    <div class="element-list">
        <ul id="list">
            {{#each myTask}}
            <li>{{this.tasks}}</li>
            {{/each}}     
        </ul>
    </div>




</div>